.box {
  margin-bottom: 2.2rem;
  box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
  border: 0 solid #dfe3e7;
  border-radius: 0.267rem;
  max-width: 33%;
  padding: 0 15px;
  .box-content {
    text-align: center;
    padding: 1.7rem;

    .box-image {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      white-space: nowrap;
      text-align: center;
    }

    .box-story {
      word-wrap: break-word;
      padding-top: 1rem;
      line-height: 2rem;
      color: $text-secondary;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: 400;
      font-style: italic;
    }

    .box-name {
      font-weight: 600;
      color: $text-secondary;
    }
  }
}
